@import './mixin';
@media screen and (min-width: 992px) {
	.nav{
		position: static;
		background-color: transparent;
		width: unset;
		height: unset;
		flex-direction: row;
		transform: unset;
		transition: unset;
		&__links, &__buttons{
			flex-direction: row;
		}
		&__links{
			margin-right: 150px;
		}
		&__link{
			margin: 0;
			margin-left: 35px;
		}
	}
	.hamburger{
		display: none !important;
	}
	.banner{
		&__content{
			@include space-between;
		}
		&__info{
			margin: 0;
		}
		&__store{
			flex-direction: row;
			justify-content: unset;
			&-link{
				margin: 0;
				margin-right: 30px;
			}
		}
		&__image{
			display: block;
		}
		&__img--pos{
			position: absolute;
			left: 40px;
			bottom: 20px;
		}
	}
	.company{
		&__logo{
			margin: 0;
			margin-right: 40px;
			&:last-child{
				margin: 0;
			}
		}
	}
}