@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import './default';
@import './mixin';
$green: #24DC9F;
$black: #021206;
$black-opacity: rgba(#021206, .7);
$black-op05: rgba(#021206, .5);
$red: #F44545;
.header{
	margin-bottom: 6.875rem;
}
.navbar{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #fff;
	padding: 0.3125rem 0;
	z-index: 1000;
	&__content{
		@include space-between;
	}
}
.logo{
	&__link{
		display: flex;
		align-items: center;
	}
	&__span{
		color: $green;
		font-weight: 600;
		font-size: 1.25rem;
		text-shadow: 0px 4px 35px rgba(155, 215, 195, 0.8);
	}
	&__image{
		text-align: center;
		width: 26px;
		height: 26px;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		margin-right: 0.375rem;
	}
	&__img{
		position: absolute;
		top: 0;
		left: 0;
		margin-left: -4.375rem;
		margin-top: -3.1875rem;
		width: 166px;
	}
}
.nav{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	height: 100%;
	@include flex-center;
	flex-direction: column;
	transform: translateX(100%);
	transition: .5s ease-in-out;
	&__links{
		@include flex-center;
		flex-direction: column;
	}
	&__link{
		position: relative;
		font-size: 1.125rem;
		line-height: 1.6875rem;
		color: $black;
		opacity: 0.5;
		margin-bottom: 1.25rem;
		transition: .4s ease-in-out;
		&::after{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 0%;
			content: '';
			color: transparent;
			background: $green;
			height: 1px;
			transition: .4s ease-in-out;
		}
		&:hover{
			color: $green;
		}
		&:hover::after{
			width: 100%;
		}
	}
	&__buttons{
		@include flex-center;
		flex-direction: column;
	}
	&__btn{
		font-weight: 500;
		font-size: 1.125rem;
		color: rgba(#021206, .7);
		padding: 0.9375rem 1.875rem;
		transition: .4s ease-in-out;
		&:hover{
			color: $red;
		}
	}
	&__btn--red{
		color: #fff;
		background-color: $red;
		border: 1px solid $red;
		border-radius: 6px;
		transition: .4s ease-in-out;
		&:hover{
			color: $red;
			background-color: transparent;
		}
	}
}
.hamburger{
	display: block;
}
.nav.active{
	transform: translateX(0);
}
.banner{
	padding-top: 11.25rem;
	&__info{
		max-width: 510px;
		margin: 0 auto;
	}
	&__title{
		max-width: 487px;
		font-weight: 600;
		font-size: 3.375rem;
		line-height: 5.0625rem;
		margin-bottom: 1.5625rem;
		&-span{
			color: $green;
		}
	}
	&__text{
		font-size: 1.3125rem;
		line-height: 160%;
		color: $black-opacity;
		margin-bottom: 1.875rem;
		&-span{
			font-weight: 600;
		}
	}
	&__form{
		display: flex;
		align-items: center;
		margin-bottom: 2.1875rem;
		position: relative;
		max-width: 470px;
	}
	&__email{
		width: 100%;
		padding: 1.25rem 0 1.25rem 1.5rem;
		border: none;
		border-radius: 6px;
		filter: drop-shadow(-5px 5px 45px rgba(2, 18, 6, 0.15));
		&::placeholder{
			font-size: 1.125rem;
			line-height: 1.6875rem;
			color: $black-op05;
		}
	}
	&__button{
		position: absolute;
		top: 4px;
		right: 6px;
		font-weight: 500;
		font-size: 1.3125rem;
		color: #fff;
		border: none;
		background-color: $red;
		border: 1px solid $red;
		padding: 0.6875rem 1.875rem;
		border-radius: 6px;
		transition: .4s ease-in-out;
		cursor: pointer;
		&:hover{
			background-color: transparent;
			color: $red;
		}
	}
	&__store{
		@include flex-center;
		flex-direction: column;
		&-link{
			margin-bottom: 1.875rem;
		}
	}
	&__image{
		position: relative;
		min-height: 500px;
		display: none;
		overflow: hidden;
		&::before{
			position: absolute;
			content: '';
			top: 37px;
			left: 50px;
			background: linear-gradient(180deg, #FEDF8B 0%, #FFC16B 100%), linear-gradient(180deg, #FFE6A2 0%, #F9D678 100%);
			box-shadow: -4px 1px 35px rgba(246, 216, 135, 0.7);
			border-radius: 50%;
			width: 136px;
			height: 136px;
			z-index: -1;
		}
		&::after{
			content: '';
			position: absolute;
			bottom: 70px;
			right: 80px;
			background: linear-gradient(176.15deg, #8EE7CA 19.68%, #87D2BA 96.85%);
			box-shadow: 0px 4px 70px rgba(155, 215, 195, 0.8);
			border-radius: 50%;
			width: 110px;
			height: 110px;
			z-index: -1;
		}
	}
	&__img{
		width: 100%;
	}
	&__img--pos{
		max-width: 147px;
	}
}
.company{
	padding: 3.125rem 0;
	background-color: rgba(#8EE6C9, 0.1);
	margin-bottom: 6.875rem;
	&__content{
		text-align: center;
		align-items: center;
	}
	&__logo{
		margin-bottom: 3.125rem;
		&:last-child{
			margin: 0;
		}
	}
}
.multiple{
	margin-bottom: 6.875rem;
	&__content{
		@include space-between;
		flex-direction: column;
	}
	&__cards{
		max-width: 585px;
	}
	&__card{
		text-align: center;
		max-width: 400px;
		min-height: 290px;
		padding: 2.1875rem 1.5rem 2.1875rem 1.5rem;
		background: #FFFFFF;
		cursor: pointer;
		border: 1px solid rgba(2, 18, 6, 0.1);
		box-sizing: border-box;
		border-radius: 10px;
		margin: 0 auto;
		margin-bottom: 1.875rem;
		transition: .5s ease-in-out;
		&:hover{
			border: 1px solid #fff;
			box-shadow: 0px 15px 65px rgba(65, 77, 68, 0.15);
		}
		&-image{
			width: 75px;
			height: 75px;
			border-radius: 10px;
			padding: 1.25rem;
			margin: 0 auto;
			margin-bottom: 1.5625rem;
		}
		&-image--red{
			background: linear-gradient(141.58deg, #FF9A9A 3.63%, #F14C4C 91.45%);
			box-shadow: 1px 5px 30px rgba(215, 21, 21, 0.5);
		}
		&-image--green{
			background: linear-gradient(154.24deg, #85FED6 4.45%, #4EDAAC 83.73%);
			box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
		}
		&-image--yellow{
			background: linear-gradient(163.65deg, #FCD876 4.69%, #FABC13 88.66%);
			box-shadow: 1px 5px 30px rgba(238, 185, 42, 0.6);
		}
		&-image--pink{
			background: linear-gradient(143.75deg, #FE9AF4 0%, #EC4EDC 88.72%);
			box-shadow: 1px 5px 30px rgba(230, 68, 214, 0.5);
		}
		&-title{
			color: $black;
			font-weight: 600;
			font-size: 1.3125rem;
			line-height: 1.9375rem;
			margin-bottom: 0.625rem;
		}
		&-text{
			color: $black-opacity;
			font-size: 1rem;
			line-height: 160%;
		}
	}
	&__info{
		&-title{
			font-weight: 600;
			font-size: 2.8125rem;
			line-height: 4.1875rem;
			color: $black;
			max-width: 548px;
		}
		&-text{
			text-align: center;
			color: $black-opacity;
			font-size: 1.125rem;
			line-height: 160%;
			max-width: 479px;
			margin: 0 auto;
		}
		&-text--top{
			margin-bottom: 1rem;
		}
		&-text--bottom{
			margin-bottom: 1.875rem;
		}
		&-span{
			font-weight: 600;
		}
		&-buttons{
			@include flex-center;
			flex-direction: column;
		}
		&-btn{
			padding: 0.9375rem 2.5rem;
			color: #fff;
			font-weight: 500;
			font-size: 1.125rem;
			background-color: #282323;
			border-radius: 6px;
			border: 1px solid #282323;
			transition: .4s ease-in-out;
			margin-bottom: 10px;
			&:hover{
				border: 1px solid $red;
				background-color: transparent;
				color: $red;
			}
		}
	}
}
.feature{
	margin-bottom: 6.875rem;
	&__content{
		@include space-between;
	}
	&__info{
		margin: 0 auto;
		max-width: 524px;
	}
	&__title{
		text-align: center;
		color: $black;
		font-weight: 600;
		font-size: 2.8125rem;
		line-height: 4.1875rem;
		margin-bottom: 1.25rem;
	}
	&__text{
		text-align: center;
		font-weight: 500;
		font-size: 1.125rem;
		line-height: 160%;
		color: $black-opacity;
		margin: 0 auto;
		margin-bottom: 1.25rem;
		max-width: 448px;
	}
	&__list{
		&-item{
			margin: 0 auto;
			margin-bottom: 1rem;
			max-width: 401px;
			display: flex;
			align-items: center;
		}
		&-span{
			font-size: 1.125rem;
			line-height: 160%;
			color: $black-opacity;
			margin-left: 0.625rem;
		}
	}
	&__image{
		display: none;
	}
	&__img{
		width: 100%;
	}
}
.service{
	margin-bottom: 6.875rem;
}
.download{
	margin-bottom: 6.875rem;
	background-color: rgba(#8EE6C9, 0.1);
	padding: 5.625rem 0;
	&__info{
		max-width: 480px;
		margin: 0 auto;
		text-align: center;
		&-title{
			color: $black;
			font-weight: 600;
			font-size: 2.8125rem;
			line-height: 4.1875rem;
			margin-bottom: 1.25rem;
		}
		&-text{
			color: $black-opacity;
			font-size: 1.125rem;
			line-height: 160%;
		}
		&-text--top{
			margin-bottom: 1.25rem;
		}
		&-text--bottom{
			margin-bottom: 1.875rem;
		}
		&-btn{
			font-weight: 500;
			font-size: 1.25rem;
			line-height: 160%;
			color: #FFFFFF;
			padding: 0.9375rem 2.0625rem;
			background-color: $red;
			border: 1px solid $red;
			border-radius: 6px;
			transition: .4s ease-in-out;
			&:hover{
				background-color: transparent;
				color: $red;
			}
		}
	}
	&__image{
		display: none;
	}
	&__img{
		width: 100%;
	}
}
.pricing{
	margin-bottom: 7.5rem;
	&__content-top{
		text-align: center;
	}
	&__title{
		color: $black;
		font-weight: 600;
		font-size: 2.8125rem;
		line-height: 4.1875rem;
		margin-bottom: 1.25rem;
	}
	&__text{
		color: $black-opacity;
		font-size: 1.125rem;
		line-height: 170%;
		max-width: 754px;
		margin: 0 auto;
		margin-bottom: 2.1875rem;
	}
	&__switch{
		margin-bottom: 17px;
		&-span{
			font-size: 1.25rem;
			line-height: 80%;
			color: #4E5951;
		}
	}
	&__save{
		margin-bottom: 1.625rem;
		&-span{
			color: $black-opacity;
			font-weight: 600;
			font-size: 1.125rem;
			line-height: 80%;
		}
	}
	&__slider{
		max-width: 1140px;
		margin: 0 auto;
		margin-bottom: 5.5rem;
		&-item{
			width: 100%;
			&::-webkit-slider-runnable-track{
				background: linear-gradient(154.24deg, #85FED6 4.45%, #4EDAAC 83.73%);
				box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
				border-radius: 10px;
				height: 15px;
			}
		}
	}
	&__card{
		background: #FFFFFF;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 15px;
		max-width: 360px;
		min-height: 600px;
		margin: 0 auto;
		margin-bottom: 30px;
		cursor: pointer;
		transition: .5s ease-in-out;
		&:hover{
			border: 1px solid #fff;
			box-shadow: 0px 20px 100px rgba(2, 18, 6, 0.15);
		}	
		&-top{
			border-bottom: 1px solid rgba(#011212, 0.1);
			text-align: center;
			padding: 2.1875rem 0;
		}
		&-title{
			font-weight: 600;
			font-size: 1.25rem;
			line-height: 170%;
			color: $black-op05;
			margin-bottom: 2.1875rem;
		}
		&-price{
			color: $black;
			font-weight: 600;
			font-size: 2.6875rem;
			line-height: 100%;
		}
		&-list{
			margin-bottom: 3.125rem;
		}
		&-item{
			padding: 1.25rem 1.875rem;
			border-bottom: 1px solid rgba(#011212, 0.1);
			@include space-between;
		}
		&-item--left{
			display: flex;
			align-items: center;
		}
		&-span{
			margin-left: 0.4375rem;
			font-weight: 500;
			font-size: 1rem;
			line-height: 160%;
			color: $black-opacity;
		}
		&-right{
			font-weight: 500;
			font-size: 1rem;
			line-height: 160%;
			color: $black-opacity;
		}
		&-button{
			text-align: center;
		}
		&-btn{
			color: $red;
			font-weight: 500;
			font-size: 1.25rem;
			line-height: 170%;
			border-radius: 6px;
			padding: 0.8125rem 4.375rem;
			border: 2px solid rgba($red , 0.2);
			transition: .4s ease-in-out;
			&:hover{
				background-color: $red;
				color: #fff;
			}
		}
	}
}
.switch {
	position: relative;
  display: inline-block;
  width: 58px;
  height: 28px;
	margin: 0 1.0625rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
	position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	border-radius: 6px;
  background-color: #43DDAA;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
	position: absolute;
  content: "";
  height: 16px;
  width: 17px;
  left: 6px;
  bottom: 6px;
	border-radius: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:focus + .slider {
	box-shadow: 0 0 1px #43DDAA;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.img--width{
	max-width: 700px;
}
.footer{
	background-color: rgba(#8EE6C9, 0.1);
	padding: 50px 0;
	&__content{
		@include space-between;
		flex-direction: column;
		text-align: center;
	}
	&__item{
		margin-bottom: 30px;
	}
	&__logo-link{
		margin-bottom: 1.25rem;
	}
	&__text{
		color: $black-opacity;
		font-size: 16px;
		line-height: 160%;
		max-width: 244px;
		margin-bottom: 30px;
	}
	&__list{
		&-title{
			margin-bottom: 20px;
			font-weight: 500;
			font-size: 21px;
			line-height: 31px;
			color: $black-opacity;
		}
		&-link{
			transition: .4s ease-in-out;
			margin-bottom: 10px;
			&:hover{
				color: $green;
				text-decoration: underline;
			}
		}
	}
}